<body class="about-us sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg nav-down navbar-absolute navbar-transparent">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" style="font-size:2rem;" href="/">
          Synematic
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/" id="homeLink" aria-haspopup="true"
              aria-expanded="false">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/aboutus" id="aboutLink" aria-haspopup="true"
              aria-expanded="false">
              About Us
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" style="font-size:1.1rem;" data-toggle="dropdown"
              aria-expanded="false">
              Portfolio </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-danger">
              <a href="/projects/arfood" class="dropdown-item">
                Food Project
              </a>
              <a href="/comingsoon" class="dropdown-item">
                3D-Modelling
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/contactus" id="contactLink" aria-haspopup="true"
              aria-expanded="false">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header -->
  <div class="page-header page-header-small" data-parallax="false"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('assets/img/sections/beautiful-fashion-girl-911601.jpg');">
    <div class="filter filter-info"></div>
    <div class="content-center">
      <div class="container">
        <h1>Hello,
          <br /> We are Synematic.</h1>
        <h3>Let us tell you more about what we do.</h3>
      </div>
    </div>
  </div>
  <!-- What we do Section -->
  <div class="main">
    <div class="section">
      <div class="container">
        <div id="aboutSection" class="cd-section">
          <h2 class="title-uppercase">We build great products</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, commodi esse? Obcaecati quaerat fuga
            possimus eaque esse? Fugit blanditiis, iure illo ab quae accusamus voluptas cumque doloribus nisi officiis
            rerum!. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est architecto animi ullam unde quibusdam
            quod vitae nulla commodi! Neque, repellat!</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam nam consequuntur enim eum. Perferendis
            placeat asperiores facilis, numquam quia minima quisquam eum suscipit vero vitae obcaecati error, in nobis
            corrupti?</p>
          <h3 class="title-uppercase">We <i class="fa fa-heart heart"></i>&nbsp; what we do.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure est eius atque recusandae saepe ea quia
            consectetur facere vero minima ipsam eaque praesentium ex suscipit, necessitatibus neque sequi nobis
            voluptatem. Sed dolorum optio magnam a est molestias eos aliquam ab nihil quod, assumenda id! Hic, et ad?
            Odio, facilis labore.</p>
          <!-- Features  -->
          <div class="features-4 mt-5">
            <div class="container">
              <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Is this what you are looking for?</h2>
                  <h5 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, tempore
                    voluptates. Ratione dolores asperiores laboriosam assumenda eum voluptas vero repudiandae!</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="ipad-container">
                    <img src="assets/img/sections/iphone-2.png" />
                  </div>
                </div>
                <div class="col-md-4 offset-1">
                  <div class="info info-horizontal">
                    <div class="icon icon-info">
                      <i class="nc-icon nc-send" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Augmented Reality</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam vel dolores dolorum nesciunt
                        excepturi a adipisci modi officiis ipsum.</p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-success">
                      <i class="nc-icon nc-app" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Virtual Reality</h4>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur maxime numquam
                        magnam doloremque vero ut rem molestiae. Repellat, dicta.</p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-danger">
                      <i class="nc-icon nc-vector" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Beautiful Models</h4>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe itaque quam tenetur tempore
                        nihil
                        sit?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team Section -->
        <div id="teamSection" class="cd-section">
          <div class="team-1">
            <div class="container">
              <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Our Awesome Team</h2>
                  <h5 class="description ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore harum
                    nesciunt
                    fuga assumenda possimus ipsam.</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="card card-profile card-plain">
                    <div class="card-avatar">
                      <a href="#">
                        <img src="assets/img/faces/vidura.png" alt="...">
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="#">
                        <div class="author">
                          <h4 class="card-title">Vidura Withanapathirana</h4>
                          <h6 class="card-category text-muted">Founder, Team Leader & Design Director</h6>
                        </div>
                      </a>
                      <p class="card-description text-center">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores alias minus delectus doloribus
                        rerum facere fugit nam impedit.
                      </p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-profile card-plain">
                    <div class="card-avatar">
                      <a href="#">
                        <img src="assets/img/faces/cheva.png" alt="...">
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="#">
                        <div class="author">
                          <h4 class="card-title">Chevindu Wickramathilaka</h4>
                          <h6 class="card-category text-muted">Founder & Creative Director</h6>
                        </div>
                      </a>
                      <p class="card-description text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quam accusantium sit quas
                        doloribus
                        ullam odit facilis alias ipsum perferendis.
                      </p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-profile card-plain">
                    <div class="card-avatar">
                      <a href="#">
                        <img src="assets/img/faces/tashila.png" alt="...">
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="#">
                        <div class="author">
                          <h4 class="card-title">Tashila Fernando</h4>
                          <h6 class="card-category text-muted">Founder & Game and Web Development Director</h6>
                        </div>
                      </a>
                      <p class="card-description text-center">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ad quod odio quasi quas. Pariatur
                        minus veniam explicabo illum eaque.
                      </p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-profile card-plain">
                    <div class="card-avatar">
                      <a href="#">
                        <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                      </a>
                    </div>
                    <div class="card-body">
                      <a href="#">
                        <div class="author">
                          <h4 class="card-title">Manuka</h4>
                          <h6 class="card-category text-muted">Founder & Technical Director</h6>
                        </div>
                      </a>
                      <p class="card-description text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tempora iure incidunt iste provident
                        fugit ipsa debitis unde.
                      </p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- More Information Section -->
        <div id="contactSection" class="cd-section">
          <div class="informationSection" id="infomation">
            <div class="container">
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                  <h2 class="title">Need More Information?</h2>
                  <br />
                  <div class="card card-plain card-blog">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="card-image">
                          <a href="/contactus"><img class="img"
                              src="assets/img/sections/camera-coffee-composition-1509428.jpg" /></a>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="card-body">
                          <h6 class="card-category text-info">Happy to help</h6>
                          <h3>
                            <a href="/contactus" class="btn btn-info btn-round btn-lg">Contact us Right Here</a>
                          </h3>
                          <p class="card-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, nemo Lorem ipsum dolor
                            sit
                            amet.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-plain card-blog">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="card-body">
                          <h6 class="card-category text-danger">
                            Help is always available
                          </h6>
                          <h3 class="card-title">
                            Come Meet Us in Person
                          </h3>
                          <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur quam maxime
                            veritatis
                            quibusdam temporibus, architecto nostrum animi beatae sequi.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="card-image">
                          <a><img class="img" src="assets/img/sections/federico-beccari.jpg" /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vertical Nav Section -->
  <nav id="cd-vertical-nav">
    <ul>
      <li>
        <a href="#aboutSection" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">About Us</span>
        </a>
      </li>
      <li>
        <a href="#teamSection" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">Team</span>
        </a>
      </li>
      <li>
        <a href="#contactSection" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact Us</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- FOOTER -->
  <footer class="footer footer-black footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 ml-auto mr-auto">
          <div class="logo text-center">
            <h3>SYNEMATIC</h3>
            <div class="social-area">
              <a class="btn btn-just-icon btn-round btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-2 col-sm-8">
          <div class="links">
            <ul>
              <li>
                <a href="/">
                  Home
                </a>
              </li>
              <li>
                <a href="/aboutus">
                  About-Us
                </a>
              </li>
              <li>
                <a href="/contactus">
                  Contact-Us
                </a>
              </li>
            </ul>
            <hr />
            <div class="copyright">
              <div class="pull-left">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>
              </div>
              <div class="pull-right">
                <ul>
                  <li>
                    <a href="#">
                      Terms
                    </a>
                  </li>
                  |
                  <li>
                    <a href="#">
                      Privacy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!-- Control Center: parallax effects, scripts for the  etc -->
  <script src="assets/js/paper-kit.js?v=2.3.0" type="text/javascript"></script>
  <!--  Vertical nav - dots -->
  <script src="assets/js/vertical-nav.js" type="text/javascript"></script>
  <!-- Smooth Scroll -->
  <script src="vendors/js/smooth-scroll.polyfills.min.js"></script>
  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script>
  <!-- Scroll Animation -->
  <script src="assets/js/scroll-navigation.js"></script>
</body>