<body class="landing-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg nav-down navbar-absolute navbar-transparent">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" style="font-size:2rem;" href="/">
          Synematic
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse"  data-color="orange">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/" id="homeLink" aria-haspopup="true"
              aria-expanded="false">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/aboutus" id="aboutLink" aria-haspopup="true"
              aria-expanded="false">
              About Us
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" style="font-size:1.1rem;" data-toggle="dropdown"
              aria-expanded="false">
              Portfolio </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-danger">
              <a href="/comingsoon" class="dropdown-item">
                Food Project
              </a>
              <a href="/comingsoon" class="dropdown-item">
                3D-Modelling
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/contactus" id="contactLink" aria-haspopup="true"
              aria-expanded="false">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header-Section -->
  <div id="homeSection" class="cd-section" style="scroll-behavior: smooth;">
    <div class="page-header" data-parallax="true"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/img/sections/back-light-backlight-blue-1150988.jpg');">
      <div class="filter" id="particles-js"></div>
      <div class="content-center">
        <div class="container">
          <div class="motto">
            <h1 style="font-size:4rem; font-weight:350" class="title">Augmented and Virtual Reality Services</h1>
            <h3 class="description mt-5" style="font-size:1.3rem;">We cater to all your AR/VR needs and provide high
              quality solutions.</h3>
            <br />
            <a href="#aboutSection" class="btn btn-primary btn-round btn-lg" ><i class=""></i>Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <!-- What we do Section -->
    <div id="aboutSection" class="cd-section">
      <div class="features-2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">What you have been looking for all in one place</h2>
              <h5 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti excepturi
                tempora cum voluptatem velit aut ex impedit aperiam eveniet totam hic, praesentium pariatur quos.</h5>
              <br />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/jan-sendereks.jpg')">
                <div class="card-body">
                  <h6 class="card-category">Augmented Reality</h6>
                  <div class="card-icon">
                    <i class="nc-icon nc-send"></i>
                  </div>
                  <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                    asperiores
                    alias praesentium minima, mollitia fugiat.</p>
                  <div class="card-footer">
                    <a href="/aboutus" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Show more
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/anders-jilden.jpg')">
                <div class="card-body">
                  <h6 class="card-category">Virtual Reality</h6>
                  <div class="card-icon">
                    <i class="nc-icon nc-app"></i>
                  </div>
                  <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                    exercitationem, provident officia labore natus ad.</p>
                  <div class="card-footer">
                    <a href="/aboutus" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Show more
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/uriel-soberanes.jpg')">
                <div class="card-body">
                  <h6 class="card-category">3D-Modelling</h6>
                  <div class="card-icon">
                    <i class="nc-icon nc-vector"></i>
                  </div>
                  <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo
                    itaque
                    aspernatur ratione dicta obcaecati.</p>
                  <div class="card-footer">
                    <a href="/aboutus" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Show more
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Projects Section -->
    <div class="project-4 section section-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Some of Our Awesome Projects - 4</h2>
              <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
            </div>
          </div>
          <div class="space-top"></div>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card" data-background="image" style="background-image: url('./assets/img/sections/sebastien-gabrieles.jpg')">
                <div class="card-icon">
                  <i class="nc-icon nc-mobile"></i>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card card-plain">
                <div class="card-body">
                  <h6 class="card-category">Technology</h6>
                  <a href="#pablo">
                    <h3 class="card-title">The need of a great product</h3>
                  </a>
                  <p class="card-description">Artificial intelligence-focused investment funds are a dime a dozen these days. Everyone knows there’s money to be made from AI, but to capture value, good VCs know they need to back products and not technologies.</p>
                  <div class="card-footer">
                    <a href="/comingsoon" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <hr />
          <br/>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card card-plain">
                <div class="card-body">
                  <h6 class="card-category">Design</h6>
                  <a href="#pablo">
                    <h3 class="card-title">The aesthetic quality of a product</h3>
                  </a>
                  <p class="card-description">Eventually, the data collected from the grant program could allow the two to play a bit of machine learning moneyball — valuing machine learning engineers without traditional metrics (like having a PhD from Stanford)...</p>
                  <div class="card-footer">
                    <a href="/comingsoon" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card" data-background="image" style="background-image: url('./assets/img/sections/john-towner.jpg')">
                <div class="card-icon">
                  <i class="nc-icon nc-controller-modern"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Team Section -->
    <div class="team-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">The Executive Team</h2>
            <h5 class="description">Our Team consists of four talented individuals from various backgrounds, each specialized in a particular area.</h5>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">  
                      <img class="img" src="./assets/img/faces/vidura.png" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Vidura Withanapathirana</h4>
                    <h6 class="card-category">Founder, Team Leader & Design Director</h6>
                    <p class="card-description">
                      Individual commitment to a group effort – that’s what makes a team work, a society work...
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">
                      <img class="img" src="./assets/img/faces/cheva.png" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Chevindu Wickramathilaka</h4>
                    <h6 class="card-category">Founder & Creative Director</h6>
                    <p class="card-description">
                      Don't be scared of the truth because we need to restart the human foundation in truth...
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">
                      <img class="img" src="./assets/img/faces/tashila.png" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Tashila Fernando</h4>
                    <h6 class="card-category">Founder & Game and Web Development Director</h6>
                    <p class="card-description">
                      I love you like Kanye loves Kanye. Don't be scared of the truth. Kanye loves himself like Kanye loves Kanye.
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-youtube"><i class="fa fa-youtube"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">
                      <img class="img" src="./assets/img/faces/kaci-baum-2.jpg" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Manuka</h4>
                    <h6 class="card-category">So Beautiful</h6>
                    <p class="card-description">
                      It is literally true that you can succeed best and quickest by helping others to succeed because they care about.
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact-Us Section -->
    <div id="contactSection" class="cd-section">
      <div class="contactus-2"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/img/sections/pk-pro-cover.jpg'); background-size: cover;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="card card-contact no-transition">
              <% include ./partials/messages %>
                <h3 class="card-title text-center">Contact Us To Get In Touch</h3>
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="card-body">
                      <div class="info info-horizontal">
                        <div class="icon icon-info">
                          <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Find us at the office</h4>
                          <p> Lorem, ipsum dolor, nr. 8,
                            <br> 7652 Colombo,
                            <br> Sri Lanka
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-danger">
                          <i class="nc-icon nc-badge" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Give us a ring</h4>
                          <p> Tashila Fernando
                            <br> +94 772 566 133
                            <br> Mon - Fri, 8:00-22:00
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <form id="contact-form" method="POST" action="/">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group label-floating">
                              <label class="control-label">First name</label>
                              <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group label-floating">
                              <label class="control-label">Last name</label>
                              <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                          </div>
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Email address</label>
                          <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Your message</label>
                          <textarea name="message" class="form-control" id="message" rows="6"
                            placeholder="Message" required></textarea>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <button name="submit" type="submit" class="btn btn-primary pull-right">Send Message</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vertical Nav Section -->
  <nav id="cd-vertical-nav">
    <ul>
      <li>
        <a href="#homeSection" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Home</span>
        </a>
      </li>
      <li>
        <a href="#aboutSection" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">About-Us</span>
        </a>
      </li>
      <li>
        <a href="#blogSection" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Latest-Project</span>
        </a>
      </li>
      <li>
        <a href="#teamSection" data-number="4">
          <span class="cd-dot"></span>
          <span class="cd-label">Team</span>
        </a>
      </li>
      <li>
        <a href="#contactSection" data-number="5">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact Us</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Footer section -->
  <footer class="footer footer-black footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 ml-auto mr-auto">
          <div class="logo text-center">
            <h3>Synematic</h3>
            <div class="social-area">
              <a class="btn btn-just-icon btn-round btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-2 col-sm-8">
          <div class="links">
            <ul>
              <li>
                <a data-scroll href="#homeSection">
                  Home
                </a>
              </li>
              <li>
                <a data-scrol href="#aboutSection">
                  About-Us
                </a>
              </li>
              <li>
                <a data-scrol href="#blogSection">
                  Latest Project
                </a>
              </li>
              <li>
                <a data-scrol href="#teamSection">
                  Team
                </a>
              </li>
              <li>
                <a data-scrol href="#contactSection">
                  Contact-Us
                </a>
              </li>
            </ul>
            <hr />
            <div class="copyright">
              <div class="pull-left">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>
              </div>
              <div class="pull-right">
                <ul>
                  <li>
                    <a href="#paper-kit">
                      Terms
                    </a>
                  </li>
                  |
                  <li>
                    <a href="#paper-kit">
                      Privacy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--  Vertical nav - dots -->
 
  <!-- Control Center: parallax effects, scripts for the  etc -->
  <script src="assets/js/paper-kit.js?v=2.3.0" type="text/javascript"></script>
  <!-- Particle-Js -->
  <script src="vendors/js/particles.js"></script>
  <script src="vendors/js/app.js"></script>
  <!-- Smooth Scroll -->
  <script src="vendors/js/smooth-scroll.polyfills.min.js"></script>
  <!-- <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script> -->

