<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img//apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img//favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Synematic | Home
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/paper-kit.css?v=2.3.0" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg nav-down navbar-absolute navbar-transparent">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" style="font-size:2rem;" href="/">
          Synematic
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse"  data-color="orange">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/" id="homeLink" aria-haspopup="true"
              aria-expanded="false">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/aboutus" id="aboutLink" aria-haspopup="true"
              aria-expanded="false">
              About Us
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" style="font-size:1.1rem;" data-toggle="dropdown"
              aria-expanded="false">
              Portfolio </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-danger">
              <a href="/comingsoon" class="dropdown-item">
                Food Project
              </a>
              <a href="/comingsoon" class="dropdown-item">
                3D-Modelling
              </a>
            </div>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="blog-posts.html" id="blogLink" aria-haspopup="true"
              aria-expanded="false">
              Blog
            </a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/contactus" id="contactLink" aria-haspopup="true"
              aria-expanded="false">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header-Section -->
  <div id="homeSection" class="cd-section" style="scroll-behavior: smooth;">
    <div class="page-header" data-parallax="true"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/img/sections/back-light-backlight-blue-1150988.jpg');">
      <div class="filter" id="particles-js"></div>
      <div class="content-center">
        <div class="container">
          <div class="motto">
            <h1 style="font-size:4rem; font-weight:350" class="title">Augmented and Virtual Reality Services</h1>
            <h3 class="description mt-5" style="font-size:1.3rem;">We cater to all your AR/VR needs and provide high
              quality solutions.</h3>
            <br />
            <a href="#aboutSection" class="btn btn-primary btn-round btn-lg" ><i class=""></i>Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <!-- What we do Section -->
    <div id="aboutSection" class="cd-section">
      <div class="features-2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">What you have been looking for all in one place</h2>
              <h5 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti excepturi
                tempora cum voluptatem velit aut ex impedit aperiam eveniet totam hic, praesentium pariatur quos.</h5>
              <br />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/jan-sendereks.jpg')">
                <div class="card-body">
                  <h6 class="card-category">Augmented Reality</h6>
                  <div class="card-icon">
                    <i class="nc-icon nc-send"></i>
                  </div>
                  <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                    asperiores
                    alias praesentium minima, mollitia fugiat.</p>
                  <div class="card-footer">
                    <a href="/aboutus" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Show more
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/anders-jilden.jpg')">
                <div class="card-body">
                  <h6 class="card-category">Virtual Reality</h6>
                  <div class="card-icon">
                    <i class="nc-icon nc-app"></i>
                  </div>
                  <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                    exercitationem, provident officia labore natus ad.</p>
                  <div class="card-footer">
                    <a href="/aboutus" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Show more
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/uriel-soberanes.jpg')">
                <div class="card-body">
                  <h6 class="card-category">3D-Modelling</h6>
                  <div class="card-icon">
                    <i class="nc-icon nc-vector"></i>
                  </div>
                  <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo
                    itaque
                    aspernatur ratione dicta obcaecati.</p>
                  <div class="card-footer">
                    <a href="/aboutus" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Show more
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog Posts Section -->
    <div id="blogSection" class="cd-section">
      <div class="blog-2 section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <h2 class="title">Latest Project</h2>
              <br />
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-blog">
                    <div class="card-image">
                      <a href="/comingsoon">
                        <img class="img img-raised" src="assets/img/sections/miguel-perales.jpg" />
                      </a>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-info">Heading 1</h6>
                      <h5 class="card-title">
                        <a href="/comingsoon">LinkedIn’s new desktop app arrives</a>
                      </h5>
                      <p class="card-description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, soluta quibusdam. Sunt
                        voluptates
                        porro similique et ipsam aspernatur illum accusamus mollitia. Quibusdam, libero...
                        <br />
                      </p>
                      <hr>
                      <div class="card-footer">
                        <div class="author">
                          <a href="#">
                            <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                            <span>Person 1</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-blog">
                    <div class="card-image">
                      <a href="/comingsoon">
                        <img class="img img-raised" src="assets/img/sections/roger-keller.jpg" />
                      </a>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-success">
                        Heading 2
                      </h6>
                      <h5 class="card-title">
                        <a href="/comingsoon">MIT’s Cheetah 3 robot is built to save lives</a>
                      </h5>
                      <p class="card-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur rerum accusantium
                        mollitia unde incidunt quas minima architecto esse saepe totam, ipsum exercitationem...
                        <br />
                      </p>
                      <hr>
                      <div class="card-footer">
                        <div class="author">
                          <a href="#">
                            <img src="assets/img/faces/kaci-baum-2.jpg" alt="..." class="avatar img-raised">
                            <span>Person 2</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-blog">
                    <div class="card-image">
                      <a href="/comingsoon">
                        <img class="img img-raised" src="assets/img/sections/joshua-earlesz.jpg" />
                      </a>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-danger">
                        <i class="fa fa-free-code-camp" aria-hidden="true"></i> Heading 3
                      </h6>
                      <h5 class="card-title">
                        <a href="/comingsoon">Lionel Richie says “Hello” to startup investors</a>
                      </h5>
                      <p class="card-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, deserunt id et hic quod
                        autem
                        asperiores odit. Eveniet accusantium dolore libero? Non Lorem, ipsum dolor Lorem ipsum dolor
                        sit.....
                        <br />
                      </p>
                      <hr>
                      <div class="card-footer">
                        <div class="author">
                          <a href="#">
                            <img src="assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised">
                            <span>Person 3</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Section -->
    <div id="teamSection" class="cd-section">
      <div class="team-5 section-image"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/img/sections/blur-electronics-evening-919734.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">The Executive Team</h2>
              <h5 class="description">Our Team consists of four talented individuals from various backgrounds, each specialized in a particular area.</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-img-top">
                      <a href="#">
                        <img class="img" src="assets/img/faces/vidura.png" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body text-left">
                      <h4 class="card-title">Vidura</h4>
                      <h6 class="card-category">Founder</h6>
                      <p class="card-description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim esse provident eos eum nemo
                        voluptatem.
                      </p>
                      <div class="card-footer">
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-google-plus"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-img-top">
                      <a href="#">
                        <img class="img" src="assets/img/faces/cheva.png" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body text-left">
                      <h4 class="card-title">Person 2</h4>
                      <h6 class="card-category">Founder</h6>
                      <p class="card-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum temporibus alias amet eos
                        dignissimos
                      </p>
                      <div class="card-footer">
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-pinterest"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-img-top">
                      <a href="#pablo">
                        <img class="img" src="assets/img/faces/tashila.png" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body text-left">
                      <h4 class="card-title">Person 3</h4>
                      <h6 class="card-category">Web Developer</h6>
                      <p class="card-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo optio, alias unde dignissimos
                        soluta cum
                      </p>
                      <div class="card-footer">
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-img-top">
                      <a href="#pablo">
                        <img class="img" src="assets/img/faces/clem-onojeghuo-2.jpg" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body text-left">
                      <h4 class="card-title">Person 4</h4>
                      <h6 class="card-category">Co-Founder</h6>
                      <p class="card-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam sed, eius consequuntur commodi
                        minus dolore.
                      </p>
                      <div class="card-footer">
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-dribbble"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact-Us Section -->
    <div id="contactSection" class="cd-section">
      <div class="contactus-2"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/img/sections/abstract-architectural-design-architecture-136419.jpg'); background-size: cover;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="card card-contact no-transition">
                <h3 class="card-title text-center">Contact Us To Get In Touch</h3>
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="card-body">
                      <div class="info info-horizontal">
                        <div class="icon icon-info">
                          <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Find us at the office</h4>
                          <p> Lorem, ipsum dolor, nr. 8,
                            <br> 7652 Colombo,
                            <br> Sri Lanka
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-danger">
                          <i class="nc-icon nc-badge" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Give us a ring</h4>
                          <p> Tashila Fernando
                            <br> +94 772 566 133
                            <br> Mon - Fri, 8:00-22:00
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <form id="contact-form" method="POST" action="/">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group label-floating">
                              <label class="control-label">First name</label>
                              <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group label-floating">
                              <label class="control-label">Last name</label>
                              <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                          </div>
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Email address</label>
                          <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Your message</label>
                          <textarea name="message" class="form-control" id="message" rows="6"
                            placeholder="Message" required></textarea>
                        </div>
                        <div class="row">
                          {{!-- <div class="col-md-6">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> I'm not a robot !
                                <span class="form-check-sign"></span>
                              </label>
                            </div>
                          </div> --}}
                          <div class="col-md-6">
                            <button name="submit" type="submit" class="btn btn-primary pull-right">Send Message</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vertical Nav Section -->
  <nav id="cd-vertical-nav">
    <ul>
      <li>
        <a href="#homeSection" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Home</span>
        </a>
      </li>
      <li>
        <a href="#aboutSection" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">About-Us</span>
        </a>
      </li>
      <li>
        <a href="#blogSection" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Latest-Project</span>
        </a>
      </li>
      <li>
        <a href="#teamSection" data-number="4">
          <span class="cd-dot"></span>
          <span class="cd-label">Team</span>
        </a>
      </li>
      <li>
        <a href="#contactSection" data-number="5">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact Us</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Footer section -->
  <footer class="footer footer-black footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 ml-auto mr-auto">
          <div class="logo text-center">
            <h3>Synematic</h3>
            <div class="social-area">
              <a class="btn btn-just-icon btn-round btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-2 col-sm-8">
          <div class="links">
            <ul>
              <li>
                <a data-scroll href="#homeSection">
                  Home
                </a>
              </li>
              <li>
                <a data-scrol href="#aboutSection">
                  About-Us
                </a>
              </li>
              <li>
                <a data-scrol href="#blogSection">
                  Latest Project
                </a>
              </li>
              <li>
                <a data-scrol href="#teamSection">
                  Team
                </a>
              </li>
              <li>
                <a data-scrol href="#contactSection">
                  Contact-Us
                </a>
              </li>
            </ul>
            <hr />
            <div class="copyright">
              <div class="pull-left">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>
              </div>
              <div class="pull-right">
                <ul>
                  <li>
                    <a href="#paper-kit">
                      Terms
                    </a>
                  </li>
                  |
                  <li>
                    <a href="#paper-kit">
                      Privacy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Vertical nav - dots -->
  {{!-- <script src="assets/js/vertical-nav.js" type="text/javascript"></script> --}}
  <!--  Photoswipe files -->
  <script src="assets/js/plugins/photo_swipe/photoswipe.min.js"></script>
  <script src="assets/js/plugins/photo_swipe/photoswipe-ui-default.min.js"></script>
  <script src="assets/js/plugins/photo_swipe/init-gallery.js"></script>
  <!--  for Jasny fileupload -->
  <script src="assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Control Center: parallax effects, scripts for the  etc -->
  <script src="assets/js/paper-kit.js?v=2.3.0" type="text/javascript"></script>
  <!-- Particle-Js -->
  <script src="vendors/js/particles.js"></script>
  <script src="vendors/js/app.js"></script>
  <!-- Smooth Scroll -->
  <script src="vendors/js/smooth-scroll.polyfills.min.js"></script>
  <!-- <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script> -->
</body>

</html>