<body class="landing-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg nav-down navbar-absolute navbar-transparent" style="height: 80px;">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" style="font-size:1.5rem;" href="/">
        Synematic
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse"  data-color="orange">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="/" id="homeLink" aria-haspopup="true"
              aria-expanded="false">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="#aboutSection" id="aboutLink" aria-haspopup="true"
              aria-expanded="false">
              About Us
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" style="font-size:1.1rem;" data-toggle="dropdown"
              aria-expanded="false">
              Portfolio </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-danger">
              <a href="/projects/arfood" class="dropdown-item">
                Augmented Reality Food
              </a>
              <%# <a href="/comingsoon" class="dropdown-item">
                3D-Modelling
              </a> %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:1.1rem;" href="#contactSection" id="contactLink" aria-haspopup="true"
              aria-expanded="false">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header-Section -->
  <div id="homeSection" class="cd-section" style="scroll-behavior: smooth;">
    <div class="page-header" data-parallax="true"
      style="background-image:  linear-gradient(to right, rgba(81, 203, 206, 0.3), rgba(81, 203, 206, 0.3)), url('assets/img/sections/home_page.png');">
      <div  id="particles-js"></div>
      <div class="content-center">
        <div class="container">
          <div class="col-md-3 motto">
            <h1 style="font-size:3.7rem; font-weight:600; margin: 0; text-align: left" class="title">Synematic</h1>
            
            <h3 class="description mt-5" style="font-size:1.3rem; text-align: left;">Augmented Reality and Virtual Reality Products and Solutions</h3>
            <br />
            <a href="#aboutSection" class="btn btn-info btn-round btn-lg pull-left" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); "><i class=""></i>Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <!-- What we do Section -->
    <div id="aboutSection" class="cd-section">
      <div  class="cd-section">
        <div class="features-2">
          <div class="container">
            <div class="row">
              <div class="col-md-10 ml-auto mr-auto text-center">
                <h2 class="title">AR/VR solutions by mixing tech and art</h2>
                <h5 class="description">We at Synematic are focussed on creating amazing digital products in the fields of Augmented Reality and Virtual Reality, while aiming for maximum customer satisfaction and pleasing user experience. We also provide AR/VR solutions that integrate into your business that adds value.</h5>
                <br />
              </div>
            </div>
            <div class="row" style="padding-top: 40px;">
              <div class="col-md-4">
                <div class="card" data-background="color" data-color="blue">
                  <div class="card-body text-center">
                    <h6 class="card-category" style="padding-top: 25px;">Augmented Reality</h6>
                    <div class="card-icon">
                      <i class="nc-icon nc-send"></i>
                    </div>
                    <p class="card-description">Augmented reality can be implemented in almost any industry and we aim to conquer these.</p>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" data-background="color" data-color="purple">
                  <div class="card-body text-center">
                    <h6 class="card-category" style="padding-top: 25px;">Virtual Reality</h6>
                    <div class="card-icon">
                      <i class="nc-icon nc-app"></i>
                    </div>
                    <p class="card-description">The team at Synematic delivers exclusive and breath taking virtual reality solutions in various business applications</p>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" data-background="color" data-color="orange">
                  <div class="card-body text-center">
                    <h6 class="card-category" style="padding-top: 25px;">3D - Models</h6>
                    <div class="card-icon">
                      <i class="nc-icon nc-vector"></i>
                    </div>
                    <p class="card-description">Our skilled and passionate designers serve up beautiful and breathtaking 3D Models</p>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Features Section -->
      <div class="features-4 mt-5" style="padding-top: 0;">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Is this what you are looking for?</h2>
                    <h5 class="description">We are pushing the limits of how AR/VR could be used. We understand your ideas and transform them into high-end tech solutions. We are great at blending technology and art into grat products and solutions that satifies our customers.</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="ipad-container">
                      <img src="assets/img/sections/iphone-2.png" />
                    </div>
                  </div>
                  <div class="col-md-4 offset-1">
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="nc-icon nc-trophy" aria-hidden="true"></i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Astonishing Team</h4>
                        <p>The Team at synematic consists of highly skilled, artistic and passionate set of engineers and designers from diverse backgrounds. Everyone in the team is 100% committed to provide you with an amazing service.</p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-success">
                        <i class="nc-icon nc-box-2" aria-hidden="true"></i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Our Product</h4>
                        <p>We pride in ourselves for having high quality products and solutions and we provide you with all you need. We perceive your ideas and transform them into high-end solutions.</p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-danger">
                        <i class="nc-icon nc-single-02" aria-hidden="true"></i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Customers come first</h4>
                        <p>We put alot of effort to make your experience as delightful as possible. Our AR/VR producst and solutions always takes into account the customer first.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- Projects Section -->
    <div class="project-4 section cd-section section-dark" id="projectSection" style="background-image: linear-gradient(rgba(81, 203, 206, 0.8), rgba(81, 203, 206, 0.6));">
        <div class="container" >
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center" style="margin-bottom: 2.5rem;">
              <h2 class="title" style="color: white;">Some of Our Awesome Projects</h2>
              <h5 class="description" style="color: white;">Here are some of the Projects we are working on. Our primary target is the food and beverage industry.</h5>
            </div>
          </div>
          <div class="space-top"></div>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card" data-background="image" style="background-image: url('/assets/img/sections/bracelets-camera-cellphone-744780.jpg')">
                <div class="card-icon">
                  <i class="nc-icon nc-mobile"></i>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card card-plain">
                <div class="card-body">
                  <h6 class="card-category" style="color: white;">Technology</h6>
                  <a href="#pablo">
                    <h3 class="card-title" style="color: white;">Augmented Reality Food</h3>
                  </a>
                  <p class="card-description" style="color: white;">Bringing the Augmented Reality technology into the food space. We help you to showcase your food products in a virtual space without limiting yourself to only 2D pictures. We enable you to present your menu in 3D.</p>
                  <div class="card-footer">
                    <a href="/projects/arfood" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> See More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <hr />
          <br/>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card card-plain">
                <div class="card-body">
                  <h6 class="card-category" style="color: white;">Design</h6>
                  <a href="#pablo">
                    <h3 class="card-title" style="color: white;">3D Modeling</h3>
                  </a>
                  <p class="card-description" style="color: white;">With 3D computer graphics, we help you conceptualize and visualize your ideas and concepts. We create a wide range of beautiful 3D models for you to choose from.</p>
                  <div class="card-footer">
                    <a href="/comingsoon" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> See More
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card" data-background="image" style="background-image: url('/assets/img/sections/cellphone-cellular-cellular-telephone-1581632.jpg')">
                <div class="card-icon">
                  <i class="nc-icon nc-controller-modern"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Team Section -->
    <div class="team-3 cd-section" id="teamSection" style="padding-top: 40px">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto text-center">
            <h2 class="title">The Executive Team</h2>
            <h5 class="description">Our Team consists of four talented individuals from various backgrounds, each specialized in a particular area.</h5>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">  
                      <img class="img" src="/assets/img/faces/vidura.png" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Vidura Withanapathirana</h4>
                    <h6 class="card-category">Founder, Team Leader & Design Director</h6>
                    <p class="card-description">
                      Individual commitment to a group effort – that’s what makes a team work, a society work...
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">
                      <img class="img" src="/assets/img/faces/cheva.png" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Chevindu Wickramathilaka</h4>
                    <h6 class="card-category">Founder & Creative Director</h6>
                    <p class="card-description">
                      Don't be scared of the truth because we need to restart the human foundation in truth...
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">
                      <img class="img" src="/assets/img/faces/tashila.png" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Tashila Fernando</h4>
                    <h6 class="card-category">Founder & Game and Web Development Director</h6>
                    <p class="card-description">
                      I love you like Kanye loves Kanye. Don't be scared of the truth. Kanye loves himself like Kanye loves Kanye.
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-youtube"><i class="fa fa-youtube"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-profile card-plain">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-img-top">
                      <img class="img" src="/assets/img/faces/manuka.jpg" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body text-left">
                    <h4 class="card-title">Manuka Suriyage</h4>
                    <h6 class="card-category">Founder & Technical Director</h6>
                    <p class="card-description">
                      It is literally true that you can succeed best and quickest by helping others to succeed because they care about.
                    </p>
                    <div class="card-footer pull-left">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact-Us Section -->
    <div id="contactSection" class="cd-section">
      <div class="contactus-2"
        style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('/assets/img/sections/abstract-architectural-design-architecture-136419.jpg'); background-size: cover;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="card card-contact no-transition">
              <% include ./partials/messages %>
                <h3 class="card-title text-center">Contact Us To Get In Touch</h3>
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="card-body">
                      <div class="info info-horizontal">
                        <div class="icon icon-info">
                          <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Find us at the office</h4>
                          <p> Lorem, ipsum dolor, nr. 8,
                            <br> 7652 Colombo,
                            <br> Sri Lanka
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-danger">
                          <i class="nc-icon nc-badge" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Give us a ring</h4>
                          <p> Tashila Fernando
                            <br> +94 772 566 133
                            <br> Mon - Fri, 8:00-22:00
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <form id="contact-form" method="POST" action="/">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group label-floating">
                              <label class="control-label">First name</label>
                              <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group label-floating">
                              <label class="control-label">Last name</label>
                              <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                          </div>
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Email address</label>
                          <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Subject</label>
                          <input type="text" class="form-control" placeholder="Subject" name="subject" required>
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Your message</label>
                          <textarea name="message" class="form-control" id="message" rows="6"
                            placeholder="Message" required></textarea>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <button name="submit" type="submit" class="btn btn-primary pull-right">Send Message</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vertical Nav Section -->
  <nav id="cd-vertical-nav">
    <ul>
      <li>
        <a href="#homeSection" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Home</span>
        </a>
      </li>
      <li>
        <a href="#aboutSection" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">About-Us</span>
        </a>
      </li>
      <li>
        <a href="#projectSection" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Latest-Project</span>
        </a>
      </li>
      <li>
        <a href="#teamSection" data-number="4">
          <span class="cd-dot"></span>
          <span class="cd-label">Team</span>
        </a>
      </li>
      <li>
        <a href="#contactSection" data-number="5">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact Us</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Footer section -->
  <footer class="footer footer-black footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 ml-auto mr-auto">
          <div class="logo text-center">
            <h3>Synematic</h3>
            <div class="social-area">
              <a class="btn btn-just-icon btn-round btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a class="btn btn-just-icon btn-round btn-instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-2 col-sm-8">
          <div class="links">
            <ul>
              <li>
                <a data-scroll href="#homeSection">
                  Home
                </a>
              </li>
              <li>
                <a data-scrol href="#aboutSection">
                  About-Us
                </a>
              </li>
              <li>
                <a data-scrol href="#projectSection">
                  Latest Project
                </a>
              </li>
              <li>
                <a data-scrol href="#teamSection">
                  Team
                </a>
              </li>
              <li>
                <a data-scrol href="#contactSection">
                  Contact-Us
                </a>
              </li>
            </ul>
            <hr />
            <div class="copyright">
              <div class="pull-left">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>
              </div>
              <div class="pull-right">
                <ul>
                  <li>
                    <a href="#paper-kit">
                      Terms
                    </a>
                  </li>
                  |
                  <li>
                    <a href="#paper-kit">
                      Privacy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

 <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="/assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="/assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Photoswipe files -->
  <script src="/assets/js/plugins/photo_swipe/photoswipe.min.js"></script>
  <script src="/assets/js/plugins/photo_swipe/photoswipe-ui-default.min.js"></script>
  <script src="/assets/js/plugins/photo_swipe/init-gallery.js"></script>
  <!--  for Jasny fileupload -->
  <script src="/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Control Center: parallax effects, scripts for the  etc -->
  <script src="/assets/js/paper-kit.js?v=2.3.0" type="text/javascript"></script>
  <!-- Particle-Js -->
  <script src="/vendors/js/particles.js"></script>
  <script src="/vendors/js/app.js"></script>
  <!-- Smooth Scroll -->
  <script src="/vendors/js/smooth-scroll.polyfills.min.js"></script>
  <!-- <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script> -->
  </body>
