#c {
  width: 600px;
    height: 580px;
    display: block;
    position: absolute;
}


@media (max-width: 1199px) { 
  #c {
    width: 600px;
    height: 580px;
    display: block;
    position: absolute;
  
  }
}
@media (max-width: 1025px) { 
  #c {
    width: 530px;
    height: 620px;
    display: block;
    position: absolute;
  
  }
}


@media (max-width: 992px) {
  #c {
    width: 375px;
    height: 500px;
    display: block;
    position: relative;
  }
}

@media (max-width: 767px) { 
  #c{
    width: 560px;
    height: 400px;
    display: block;
    position: absolute;
  }
 }

 @media (max-width: 576px) { 
  #c{
    margin-top: 40px;
    width: 440px;
    height: 380px;
    display: block;
    position: absolute;
  }
 }

 @media (max-width: 376px) { 
  #c{
    margin-top: 40px;
    width: 395px;
    height: 330px;
    display: block;
    position: absolute;
  }
 }

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/